<h2><%= @user.name %>のページ</h2>

<ul>
  <li><%= image_tag(@user.user_image.url) %></li>
</ul>

<p>メールアドレス: <%= @user.email %></p>

<p><h4><%= link_to "プロフィール編集をする", "/users/#{@user.id}/edit" %></h4></p>

<p><h4><%= link_to "お気に入り一覧を見る", "/users/#{@user.id}/likes" %></h4></p>