<%= form_with(model: @post, local: true) do |f| %>

  <div class="post_content">
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <div class="image">
    <%= f.label :画像 %>
    <%= f.file_field :image_path %>
    </div>

    <strong>画像:</strong>
    <%= image_tag @post.image_path.url %>
  </div>
  <%= f.submit "編集する" %>
<% end %>

<%= link_to "投稿一覧画面にもどる", posts_path %>