<%= link_to "新しく投稿する", new_post_path %>

<%= @posts.each do |post| %>
  <div>
    <ul>
      <li><%= "タイトル：#{post.title}"%></li>
      <li><%= "コメント：#{post.content}"%></li>
      <li><%= image_tag(post.image_path.url) %></li>
      <%= link_to "投稿を編集する", edit_post_path(post.id) %>
      <%= link_to "投稿を削除する", post_path(post.id), method: :delete, data: {confirm: "削除していいですか？" }%>
    </ul>
  </div>
<% end %>