<%= form_with(model: @post, local: true, url: confirm_posts_path) do |f| %>
  <%= f.label :タイトル %>
  <%= f.text_field :title %>

  <%= f.label :コメント %>
  <%= f.text_field :content %>

  <div class="image">
  <%= f.label :画像 %>
  <%= f.file_field :image_path %>
  </div>

  <%= f.submit "投稿する", class: 'btn btn-danger' %>
<% end %>
